* {
    --main-font: "Bahnschrift", Helvetica, Arial, sans-serif;
    --accent-font: "Roboto Mono", Helvetica, Arial, sans-serif;
    font-family: var(--main-font), serif;

    --bs-link-color: #ac7dff !important;
    --bs-nav-link-hover-color: #dfb0ff; !important;
}

html {
    scroll-padding-top: 60px; /* height of sticky header */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--accent-font), serif;
    font-weight: 700 !important;
}

p {
    font-size: 14pt;
}

.accordion-body p, li {
    font-size: 11pt;
}

.navbar-nav > li > a {
    font-size: 1.2em;
}

.spacer {
    min-height: 100vh;
}

.project-card{
    border: solid #272d35;
    border-radius: 25px;
    background: #262b33;
}

img.project-img {
    border-radius: 10px;
}
.section-title {
    background-color: #191d23;
}

#mapCanvas {
    width: 100%;
    height: 100vh;
    display: block;
}

.reveal {
    opacity: 0;
    transform: translateX(100px); /* from right */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.project-link {

}

.reveal.active {
    opacity: 1;
    transform: translateX(0);
}

.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero-text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 70%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}